.sample {
	margin-left:-20%;
	margin-bottom:30px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
	font-family: Arial;
}

.sample:hover {
	color: #800000;
	background-color: #ffffff;
	font-size: 120%;
}
.sample:focus{
color: #800000;
	background-color: #ffffff;
	font-size: 120%;
}
.sample:active{
color: #800000;
	background-color: #ffffff;
	font-size: 120%;
}	