.container{
	margin: 0 auto;
	width: 100%;
	padding-right: 270px;
	-webkit-animation: fadein 1s;
}
.menu{
	margin: 0;
	padding:0;
	float: left;
	height: 90px;
}
.asd
{
	width: 100%;
	background-color: #800000;
	opacity: 0.95;
	position:fixed;
}
.logo{
	float: left;
	margin: 10px;
}
.title
{
	float: left;
	padding-top: 25px;
}
body{
	margin:0;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.nav{
	margin: 0;
	padding: 0 ;
	width: 100%;
}
.ul{
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	margin-right: 10%;
}
.li
{
	margin: 0;
	padding: 0;
	padding-top: 35px;
	display: inline-block;
	position: relative;
	margin-left: 90px;
}
.a::before
{
	content: '';
	display: block;
	height: 8px;
	background-color: #ffffff;
	position: absolute;
	width: 0%;
	transition: all ease-in-out 250ms;
	padding: 0;
	margin: 0;
	bottom: 220%;
}
.a:hover::before{
	width: 100%;
	padding: 0;
	margin: 0;
}
header::after
{
	content: '';
	display: table;
	clear: both;
}
.a{
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 20px;
	position: fixed;
}
.about
{
	font-family: Arial;
	font-size: 15px;
	word-wrap: break-word;
	opacity: 0.9;
	border-radius: 25px;
    background: #f2e5e5;
	background-position: center;
    padding: 20px; 
	text-align: center;	
	position: absolute;
	height: 500px;
	width: 900px;
	margin-left: 200px;
	margin-top: 120px;
}
.contact
{
	font-family: Arial;
	font-size: 15px;
	word-wrap: break-word;
	opacity: 0.9;
	border-radius: 25px;
    background: #f2e5e5;
	background-position: center;
    padding: 20px; 
	text-align: left;	
	position: absolute;
	height: 450px;
	width: 700px;
	margin-left: 300px;
	margin-top: 120px;
}
.eval
{
	font-family: Arial;
	font-size: 15px;
	word-wrap: break-word;
	opacity: 0.9;
	border-radius: 25px;
    background: #f2e5e5;
	background-position: center;
    padding: 20px; 
	text-align: center;	
	position: absolute;
	height: 600px;
	width: 700px;
	margin-left: 300px;
	margin-top: 120px;
	margin-bottom: 80px;
}
fieldset
{
	margin: 0% auto 0% auto;
	width: 500px;
	padding: 10px;
	border-color: #800000;
}
legend
{
	color: #800000;
	font-style: bolder;
	text-align: left;
}
.button
{
	background-color: #800000;
	padding: 10px;
	width: 100px;
	color: #ffffff;
	border: none;
	margin: 20px;
	margin-left: 95px;
    width: 50%;
    padding: 10px;
	font-family: Arial;
	font-size: 20px;
	cursor: pointer;
	border-radius: 3px;
	text-align: center;
}
.vicedean
{
	border: none;
	background: 0;
	color: #ffffff;
	margin: 10px;
    width: 93%;
    padding: 10px;
	font-family: Arial;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
}

.vicedean span
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.vicedean span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}
.vicedean:hover span {
  padding-right: 25px;
}
.vicedean:hover span:after {
  opacity: 1;
  right: 1;
}
.dean
{
	border: none;
	background: 0;
	color: #ffffff;
	margin: 10px;
    width: 90%;
    padding: 10px;
	font-family: Arial;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
}

.dean span
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.dean span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}
.dean:hover span {
  padding-right: 25px;
}
.dean:hover span:after {
  opacity: 1;
  right: 1;
}
.professor
{
	border: none;
	background: 0;
	color: #ffffff;
	margin: 10px;
    width: 90%;
    padding: 10px;
	font-family: Arial;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
}

.professor span
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.professor span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}
.professor:hover span {
  padding-right: 25px;
}
.professor:hover span:after {
  opacity: 1;
  right: 1;
}
.student
{
	border: none;
	background: 0;
	color: #ffffff;
	margin: 10px;
    width: 90%;
    padding: 10px;
	font-family: Arial;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
}

.student span
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}
.student span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}
.button:hover span {
  padding-right: 25px;
}
.student:hover span {
  padding-right: 25px;
}
.button:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.student:hover span:after {
  opacity: 1;
  right: 1;
}
.button1
{
	background-color: #800000;
	padding: 10px;
	width: 55%;
	height: 30%;
	color: #ffffff;
	border: none;
	margin: 20px;
	margin-left: 60px;
    padding: 10px;
	font-family: Arial;
	font-size: 15px;
	cursor: pointer;
	border-radius: 3px;
	text-align: center;
}
.button1 span
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 90px;
	opacity: 0.9;
	background: linear-gradient(#800000, #000000);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
	font-family: Arial;
}

.sidenav a:hover {
	color: #800000;
	background-color: #ffffff;
	font-size: 180%;
}
.sidenav a:focus {
	color: #800000;
	background-color: #ffffff;
	font-size: 180%;
}

#main {
    transition: margin-left .5s;
    padding:0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	text-align: center;
	font-family: Arial;
	font-size: 15px;	
}
.passwordlogin{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	text-align: center;
	font-family: Arial;
	font-size: 15px;
}
.emailCont{}
.email{
width: 47%;
    padding: 5px 10px;
    margin: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	text-align: center;
	font-family: Arial;
	font-size: 15px;
}

input[type=firstname], input[type=lastname], input[type=studentno], input[type=user],
input[type=birthday], input[type=confirm], .course, .secyr  {
    width: 47%;
    padding: 5px 10px;
    margin: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	text-align: center;
	font-family: Arial;
	font-size: 15px;
}

.passwordsignup{
	width: 47%;
    padding: 5px 10px;
    margin: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	text-align: center;
	font-family: Arial;
	font-size: 15px;
}

.imgcontainersignup {
    text-align: center;
    margin: -24px 0 5px 0;
    position: relative;
}

.imgcontainerlogin {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.imgcontainerlogout {
    text-align: center;
    margin: 10px 0 5px 0;
    position: relative;
}
img.avatar {
    width: 14%;
	height: 100px;
    border-style: solid;
    border-color: #800000;
	border-radius: 100%;
}

.containersignup {
	margin-top: 25px;
	margin-bottom: 25px;
    padding: 16px;
}
.containerlogout {
    padding: 0px;
	margin-right: 40px;
}
.containerlogin {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
.login {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
	font-family: Arial;
	font-size: 15px;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.signup_student {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
	font-family: Arial;
	font-size: 15px;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.signup {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
	font-family: Arial;
	font-size: 15px;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.logout {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
	font-family: Arial;
	font-size: 15px;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.align{
	margin-left: 33%;
}
.logout-content {
    background-color: #fefefe;
    margin: 15% auto 5% auto; 
    border: 1px solid #888;
	height: 15%;
    width: 15%; 
}
.signup-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto; 
    border: 1px solid #888;
	height: 75%;
    width: 33%; 
	opacity: 0.9;
}

.login-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 30%; 
}
.closelogout {
    position: absolute;
    right: 10px;
    top: -15px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.closelogout:hover,
.closelogout:focus {
    color: red;
    cursor: pointer;
	text-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}
.close {
    position: absolute;
    right: 20px;
    top: -15px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
	text-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}
.closesign {
    position: absolute;
    right: 1px;
    top: 15px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.closesign:hover,
.closesign:focus {
    color: red;
    cursor: pointer;
	text-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}
.picture
{
	margin-top: -70px;
	margin-bottom: 20px;
	margin-left: 45px;
	border-radius: 50%;
	border: 2px solid #ffffff;
}
.picture:hover{
	transition: width 1s, height 1s;
	width: 150px;
    height: 150px;
	margin-left: 23px;
}

.center {
    text-align: center;	
	position: absolute;
	margin-left: 500px;
	margin-top: 790px;
}

.pagination {
    display: inline-block;
}

.pagination a {
	font-style: bolder;
	font-size: 15px;
	font-family: Arial;
	background-color: #ddd;
	border-radius: 5px;
    color: #800000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #800000;
    margin: 0 3px;
}

.pagination a:active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	font-style: bolder;
	color: #ddd;
	background-color: #800000;
	}
.signup_student-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto; 
    border: 1px solid #888;
	height: 65%;
    width: 35%; 
}
.containersignup_student {
	margin-left: 5%;
	margin-right: 5%;
    padding: 16px;
}
.imgcontainersignup_student {
    text-align: center;
    margin-bottom: 3%;
	margin-top: -5%;
    position: relative;
}
.footerhome { 
  position:absolute; 
  margin-top: 100%;
  width:100%; 
  height:35%; 
  background: #808080;
}
.footerabout { 
  position:absolute; 
  bottom:-300px; 
  width:100%; 
  height:35%; 
  background: #808080;
}
.footercontact { 
  position:absolute; 
  bottom:-250px; 
  width:100%; 
  height:35%; 
  background: #808080;
}
.copyright
{
	background: #A9A9A9;
	text-align: center;
	bottom: 0;
	position:absolute;
	width:100%;
	color: #ffffff;
	font-family: arial;
	font-size: 12px;
	cursor: default;
}
.follow
{
	position: absolute;
	padding: 20px;
	font-family: arial;
	font-size: 10px;
	color: #ffffff;
}
.media
{
	margin-top: 190px;
	text-decoration: none;
	list-style-type: none;
	float: right;
}
.contactUs
{
	color: #ffffff;
	padding: 20px;
	font-size: 10px;
	float: right;
	text-align: right;
}
.link {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.contacts {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.bottom{
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-weight: 800;
	margin-bottom: 10px;
	font-family: arial;
}
.bbb
{
	color: #000000;
	text-decoration: none;
}
li a
{
	text-decoration: none;
	color: #ffffff;
}
.aaaa
{
	float: right;
	margin-bottom: 5px;
	font-family: arial;
	font-size: 10px;
}
.mail
{
	margin-top: 20px;
	position: absolute;
	font-family: arial;
	font-size: 12px;
}
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ 
    font-family: "FontAwesome";
    content: "\f09a";
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; 
}
.twitterBtn{
    background: #00ABE3;
	
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099";
      
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}
.smGlobalBtn { 
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; 
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}



	
#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
	margin-left: 38%;
	border: 1px solid; 
    border-color: #800000;
    width: 22%;
	height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 100%;
	height: 100%;
}



#imageUploadProf, #imageUploadVice
{
    display: none;
}

#profileImageProf, #profileImageVice
{
    cursor: pointer;
}

#profile-containerProf, #profile-containerVice {
	margin-left: 38%;
	border: 1px solid; 
    border-color: #800000;
    width: 22%;
	height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-containerProf img, #profile-containerVice img {
    width: 100%;
	height: 100%;
}


#imageUploadDean
{
    display: none;
}

#profileImageDean
{
    cursor: pointer;
}

#profile-containerDean {
	margin-left: 320px;
	border: 1px solid; 
    border-color: #800000;
    width: 14%;
	height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-containerDean img {
    width: 100%;
	height: 100%;
}


.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: visible;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    margin-left: -73px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: hidden;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.one
{
	padding-top: 30px;
	width: 200px;
	background-color: #800000;
	margin-right: 50px;
}
.two
{
	padding-top: 30px;
	background-color: #800000;
	margin-left: 210px;
	width: 200px;
	margin-top: -448px;
}
.three
{
	padding-top: 30px;
	background-color: #800000;
	margin-left: 420px;
	width: 200px;
	margin-top: -448px;
}
.four
{
	padding-top: 30px;
	background-color: #800000;
	margin-left: 630px;
	width: 200px;
	margin-top: -448px;
}
.sign
{
	background-color: #800000;
	padding: 10px;
	width: 50%;
	color: #ffffff;
	border: none;
	margin-top: 3%;
	margin-left: 25%;
    padding: 10px;
	font-family: Arial;
	font-size: 20px;
	cursor: pointer;
	border-radius: 3px;
	text-align: center;
}
.sign span
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.sign span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}
.sign:hover span {
  padding-right: 25px;
}
.sign:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}
.sign:hover span:after {
  opacity: 1;
  right: 0;
}
table{
	border: 1px solid rgba(255,0,0,0.1);
	font-family: arial;
border-collapse: collapse;
}

th{
	color:#ffffff;
	text-align:center;
}
td,th{
padding:10px;
}
.highlight{
	color: #800000;
background-color:rgba(255,0,0,0.1);
}
.account
{
	text-align: center;
	color: #800000;
	margin-left: 20%;
	margin-top:10%;
	position:absolute;
}
.tblaccount, th
{
	border-collapse: collapse;	
	border: 1px solid #000000;
}
.tabs{
	margin: 0;
	padding: 0 ;
	width: 100%;
	position:absolute;
}
.tabs_ul{
margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	margin-right: 25%;
}
.tabs_a{
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 15px;
	position: fixed;
}
.tabs_li
{
	margin: 0;
	padding: 0;
	padding-top: 65px;
	display: inline-block;
	position: relative;
	margin-left: 120px;
}
caption {
	font-family: 'Abel';
	font-size: 30px;
}

